$primary   : #764ba2
$secondary : #331955
$accent    : #9C27B0

$dark      : #190019
$dark-page : #1F2937

$positive  : rgb(106, 204, 111)
$negative  : #b42d5a
$info      : #31CCEC
$warning   : #F2C037

$colorHeaderTable : #1F2937
$colorHeaderModal: linear-gradient(135deg, #331955 0%, #764ba2 100%); 